/* Style for the form container */
.sign-up-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #0a0606;
    border-radius: 10px;
    color: #f9f9f9;
    margin-top: 8%;
}

/* Style for the password input container */
.password-input-container {
    position: relative;
}

/* Style for the "view password" button */
.view-password-button {
    position: absolute;
    top: 34%;
    right: 12px;
    transform: translateY(-50%);
    background-color: transparent !important;
    border: none;
    padding: 5px;
    cursor: pointer;
    color: #666;
}

/* Style for the "view password" button icon */
.view-password-button::before {
    content: '👁️'; /* Unicode eye icon */
}

/* Style for the "view password" button text */
.view-password-button.hide::before {
    content: '🙈'; /* Unicode hidden face icon */
}

/* Style for input fields */
.sign-up-form input {
    width: calc(100% - 30px); /* Adjust width to fit within container */
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333; /* Adjust text color */
    background-color: #f9f9f9; /* Adjust background color */
}

/* Style for submit button */
.sign-up-form .submit-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #c11;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

/* Style for submit button on hover */
.sign-up-form .submit-button:hover {
    background-color: #a00;
}

/* Style for the "Log in" button */
.sign-up-form p button {
    background-color: transparent;
    border: none;
    color: #c11; /* Adjust text color */
    text-decoration: underline;
    cursor: pointer;
}

/* Style for the "Log in" button on hover */
.sign-up-form p button:hover {
    color: #a00; /* Adjust text color on hover */
}
